h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 50px;
    font-style: italic;
    color: #4b0082;
}

h3 {
    font-family: "Indie Flower", cursive;
    font-size: 35px;
    color: rgb(105, 5, 45)
}
 
p { 
    font-family: Roboto;
    font-size: 40px;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 10px;
}