.box {
    height: 100px;
    width: 100px;
    background-color: olive;
    display: inline-block;
}

.first {
    /* transform: translate(500px, 300px); */
    transform: rotate(45deg);
    background-color: blueviolet;
}

h1 {
    border: 1px solid black;
    display: inline-block;
    transform: scaleY(2);
}